<div style="margin:0 auto;text-align: center;">
    <h1> welcome to my demo_rest</h1>
    <p>
    <ul style="list-style:none;text-align:left;margin: 100px auto;width:800px;">
        <li> interface1:<a target="_blank"href="/api/v1/places?lat=111&lng=111&limit=10&offser=0">/api/v1/places?lat=111&lng=111&limit=10&offser=0</a></li>
        <li> interface2:<a target="_blank"href="/api/v1/places?lat=111&lng=111">/api/v1/places?lat=111&lng=111</a></li>
        <li> interfac3e:<a target="_blank"href="/api/v1/places/1/checkins?limit=10&offser=0">/api/v1/places/1/checkins?limit=10&offser=0</a></li>
        <li> interface4:<a target="_blank"href="/api/v1/places/1/checkin">/api/v1/places/1/checkin</a></li>
        <li> interface5:<a target="_blank"href="/api/v1/users?limit=10&offser=0">/api/v1/users?limit=10&offser=0</a></li>
        <li> interface6:<a target="_blank"href="/api/v1/users/2">/api/v1/users/2</a></li>
    </ul>
    </p>
    <br />
    <p>
    <a href="/admin" target="_blank">admin</a>
    <br/>
    <strong>accout:</strong>
    <br/>
    admin:yup
    <br />
    password:1

    </p>
    </div>
